.input_field {
    //flex-grow: 1;
    width: 70%;

    &-label {
        margin-right: auto;
    }

    &-wrapper {
        width: 100%;
        display: flex;
        //justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    }
