.message {
    border: 1px solid black;
    margin: 2px;
    width: 100%;
    padding: 2px;


    &-user_name{
        font-size: 1.5rem;
        margin: 0;
    }

    &-text{
        font-size: 0.75rem;
        margin: 0;
    }
}
